@model List<Course>

<div class="container">
    <div class="row pt-4 pb-23"">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="" asp-action="" class="btn btn-primary">
                <i class="bi bi-journal-plus"></i>
                Create a New Category
            </a>
        </div>
    </div>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            couse Name
        </th>
        <th>
            Display Order
        </th>
        <th>
            Description
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
        {
            <tr>
                <td>@obj.Title</td>
                <td>
                    @obj.DisplayOrder
                </td>
                <td>
                    @obj.Description
                </td>
            </tr>
        }
    </tbody>
</table>
</div>